@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box; 
}

body{
	/* margin-top: 0px ; */
	aligne:right;
	direction: rtl;
	height: 800px;
	
}

li {
	
    display: inline-block; 
	color: red;
	list-style-type: none;
	letter-spacing: 2px;
	font-size: 20px;
	cursor: pointer;
	 margin-left: 70px;   
	padding: 30px;
	 
		
	 
}

li a {
	
text-decoration-line: none;	
color: black;
opacity: .5;
}



 
#border_id {
	 
	 background-color:#ddd;
	direction: rtl;
	width:100%;
	z-index: 15;
	
	
	
}

div ul{
	position: fixed;
	top: -14px;
	left: 10px;
	
}
 

#test {
	color: blue;
	background-color: #260D46;
		 margin-top: 200px;  
	    width: 500px;
	position: relative;
	top: 16px;
	right: 26px;
z-index:7;
	
}
 



 
 