@charset "utf-8";
/* CSS Document */
 
.container {
	 
	margin: 150px auto;
	width: 900px;
  
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(2,250px);
	 gap: 10px;
	  
}

.container .last  {
	grid-column: span 2;
overflow: hidden;
}

.container .image{
	grid-column: span 1;
	overflow: hidden;
	
	 
}
 
img {
	width: 100%;
	 height: 100%;
	object-fit: fill;
	transition: 1s;
	
}
 
img:hover{
	transform: scale(1.5);
}
 